<section id="about" class="about">
  <div class="container">
    <div class="media">
      <div class="media-left media-middle">
          <img src="img/jenni.jpg" class="media-object img-responsive img-circle">
      </div>
      <div class="media-body">
        <h2 class="media-heading">Jenni Skogsfors</h2>
        <p class="lead">Den sceniska musikpedagogen</p>
        <p>
          Jenni jobbar som musikpedagog i Linköpings domkyrkoförsamling
          där hon både leder körer och själv sjunger i gudstjänster och
          konserter. Vid sidan av sitt jobb har hon många järn i elden, t.ex.
          är hon med i vokalensemblen SÅNGA och bandet Kvarteten från slätten.
          När tillfälle ges syns hon även på och kring scen i teater- och
          musikalsammanhang. Jenni är utbildad på Musikalakademin i Strömbäck.
          Kan inte ta kyrkliga extrauppdrag inom Linköpings domkyrkopastorat
          utöver sin tjänst.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-5">
        <img src="img/jenni.jpg" class="img-responsive img-circle">
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <h2>Jenni Skogsfors</h2>
        <p class="lead">Den sceniska musikpedagogen</p>
        <p>
          Jenni jobbar som musikpedagog i Linköpings domkyrkoförsamling
          där hon både leder körer och själv sjunger i gudstjänster och
          konserter. Vid sidan av sitt jobb har hon många järn i elden, t.ex.
          är hon med i vokalensemblen SÅNGA och bandet Kvarteten från slätten.
          När tillfälle ges syns hon även på och kring scen i teater- och
          musikalsammanhang. Jenni är utbildad på Musikalakademin i Strömbäck.
          Kan inte ta kyrkliga extrauppdrag inom Linköpings domkyrkopastorat
          utöver sin tjänst.
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-5">
        <img src="img/jonatan.jpg" class="img-responsive img-circle">
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <h2>Jonatan Skogsfors</h2>
        <p class="lead">Den sjungande programmeraren</p>
        <p>
          Jonatan varvar sitt jobb som programmerare med olika sånguppdrag.
          Han är flitigt anlitad solist vid begravningar men sjunger även
          på dop, vigslar och andra tillställningar. Sedan 2013 har han
          årligen skrivit och framfört hyllningssånger till åtrets två
          alumner vid Linköpings universitet. Jonatan är körsångare sedan
          barnsben men har även utbildat sig inom klassisk sång vid
          Lunnevads folkhögskola och sjungit för olika sångpedagoger.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
