<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-2">
        <img src="img/jenni.jpg" class="img-responsive img-circle">
      </div>
      <div class="col-md-8 col-sm-10">
        <h2>Jenni Skogsfors</h2>
        <p class="lead">Den sceniska musikpedagogen</p>
        <p>
          Jenni jobbar som musikpedagog i Linköpings
          domkyrkoförsamling där hon både leder körer och själv sjunger i gudstjänster
          och konserter. Vid sidan av sitt jobb har hon många järn i elden:
          Sångensembler, band, teater och musikal. Jenni utbildade sig på
          Musikalakademin i Strömbäck.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-10">
        <h2>Jonatan Skogsfors</h2>
        <p class="lead">Den sjungande programmeraren</p>
        <p>
          Jonatan varvar sitt jobb som programmerare med
          sånguppdrag. Han är flitigt anlitad solist vid begravningar men sjunger även
          på dop, vigslar och andra tillställningar. Jonatan är i grunden körsångare
          sedan barnsben men har även utbildat sig inom klassisk sång vid Lunnevads
          folkhögskola och sjungit för olika sångpedagoger.
        </p>
      </div>
      <div class="col-md-4 col-sm-2">
        <img src="img/jonatan.jpg" class="img-responsive img-circle">
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
