<section id="contact" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Kontakt</h2>
        <p class="text-left">
          Kontakta oss för förfrågan om uppdrag. Vi tar uppdrag både enskilt
          och tillsammans. Båda har F-skattsedel och tar betalt per faktura.
        </p>
        {% for owner in site.owners %}
        <div class="col-md-6 mb-md-3">
          <h4><strong>{{ owner.name }}</strong></h4>
          <p>
            {% for address in owner.address %}
              {{ address.line }}<br>
            {% endfor %}
          </p>
          <ul class="list-unstyled">
            <li><i class="fa fa-phone fa-fw"></i> {{ owner.telephone }}</li>
            <li>
              <i class="fa fa-envelope-o fa-fw"></i>
              <a href="mailto:{{ owner.email }}">{{ owner.email }}</a>
            </li>
          </ul>
          <br>
          <ul class="list-inline">
            {% if owner.facebook_username %}
            <li>
              <a href="https://facebook.com/{{ owner.facebook_username }}"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            </li>
            {% endif %}
            {% if owner.twitter_username %}
            <li>
              <a href="https://twitter.com/{{ owner.twitter_username }}"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
            </li>
            {% endif %}
            {% if owner.github_username %}
            <li>
              <a href="https://github.com/{{ owner.github_username }}"><i class="fa fa-github fa-fw fa-3x"></i></a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
